<div class="container mt-4" *ngIf="!formNew && !tareasView">
    <!-- Título y botón "Crear Nuevo" -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">Listado de Casos</h2>
      <button class="btn btn-primary" (click)="cambiarEstado()">
        Crear Nuevo
      </button>
    </div>
  
    <!-- Tabla de casos -->
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Código</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Descripción</th>
          <th scope="col">Abogado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterar sobre la lista de casos -->
        <tr *ngFor="let caso of casos" class="table-light">
          <th scope="row">{{ caso.idCaso }}</th>
          <td>{{ caso.codigo }}</td>
          <td>{{ caso.fechaInicio | date : "dd/MM/yyyy" }}</td>
          <td>{{ caso.descripcion }}</td>
          <td>{{ caso.abogado }}</td>
          <td>{{ caso.cliente }}</td>
          <td>{{ caso.tipo }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
